<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" version="1.0.0" id="com.jhosefmarks.cenouraapp">

  <name>Só de Cenoura</name>
  <description>Menu do restaurante Só de Cenoura</description>
  <author href="http://jhosefmarks.com" email="contato@jhosefmarks.com">
    Jhosef Marks de Carvalho
  </author>

  <icon src="imagens/icon.png" />
  <splash src="imagens/splash.png" />

  <preference name="orientation" value="portrait" />
  <preference name="fullscreen" value="true" />

  <gap:platform name="android" />

  <preference name="permissions" value="none" />

  <plugin name="cordova-plugin-splashscreen" />

  <preference name="ShowSplashScreenSpinner" value="false" />
</widget>
