<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Início</a></li>
        <li><a [routerLink]="'nossa-visao'">Nossa visão</a></li>
        <li><a [routerLink]="'quem-somos'">Quem somos</a></li>
        <li><a [routerLink]="'contato'">Contato</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<router-outlet></router-outlet>
