<h3>*ngFor</h3>

<ul>
  <li *ngFor="let curso of cursos, let i = index">{{ i + 1 }} - {{ curso }}</li>
</ul>

<h4>Removendo o * e usando o template</h4>

<ul>
  <li>(ng-template ngFor [ngForOf]="cursos" let-curso let-i="index")</li>
  <ng-template ngFor [ngForOf]="cursos" let-curso let-i="index">
    <li>{{ i + 1 }} - {{ curso }}</li>
  </ng-template>
</ul>

<ul>
  <li>(li template="ngFor let curso of cursos, let i = index")</li>
  <li template="ngFor let curso of cursos, let i = index">
    {{ i + 1 }} - {{ curso }}
  </li>
</ul>
